.git
.github
.terraform
.terraform.lock.hcl
bin
dist
docs
integration/.terraform
node_modules
terraform.tfstate*
*.tfstate
*.tfstate.backup
*.log
lint_report.json
docker-compose.yml
templates
scripts
**/*_test.go
**/*.tf

